.banner{
  position: relative;
  background: url(bkgnd.png);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 300px 0 200px ;
  color: rgba(166, 242, 255,0.7);
  text-align:center;
}
.banner hr{
  background: rgba(255, 255, 255, 0.16);
}
.banner h2{
  font-weight: bold;
  font-family: 'Acme', sans-serif;
  font-size: 60px;
  padding-left: 20px;
}
.banner p{
  color:rgba(242, 231, 225,0.6);
  font-family: 'Source Code Pro', monospace;
  padding-left: 20px;
}
.navbar{
  position: fixed;
  transition: all 0.3s ease;
}
.navbar.sticky{
  background: #323252;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
nav .navbar-nav li a{
  color: white !important;
  }
#log{
  color: white;
  font-weight: 500;
}

.box{
  background: #835491;
  padding: 35px 10px 40px;
  position: static;
  text-align: center;
  color: #d1bad9;
}
#code{
  font-size: 75px;
  color: #d1bad9;
}
.hell{
  background:#835491;

}

.highlight{
  border-left: 1px solid rgba(255, 255, 255, 0.16);
}
#jumbo{
  background-color: #835491;
  border-radius: 0;
}
body{
   background-color: #d4d6d6;
}
.nitte{
  border: white 5px solid;
  border-radius: 3px;
}
.bg-hacker{
  background-color:#835491;
}
.page-footer a{
  color: #d5dadb;
 text-decoration: inherit;

}
.page-footer li,h6 {
  color: #d5dadb;
}
p[class="mt-2"],div[class="footer-copyright text-center py-3"]{
  color:#d5dadb;
}
.btn-info{
  width: 50%;
  background: rgba(23, 162, 184,0.5);
  border-color: rgba(23, 162, 184,0.5);
  text-transform: uppercase;

}
a[href="https://assessment.hackerearth.com/challenges/college/call_of_duty_placement_contest/"]{
  color: inherit;
  text-decoration: inherit;
}
.our_pillars{
  position: relative;
  background: url(team_bk1.jpg);
  min-height: 20vh;
  background-size: auto;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 100px;
  text-align:center;
  color: rgba(255,255,255,0.8);
  font-family: 'Otomanopee One', sans-serif;
}
